@import url("https://fonts.googleapis.com/css2?family=Average&family=Pacifico&display=swap");
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1px);
  padding: 1rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 1.5rem;
  margin-left: 0rem;
  font-family: Pacifico;
}

.menuIcon {
  cursor: pointer;
  display: none;
}

@media screen and (width < 768px) {
  .menuIcon {
    display: block;
  }
}
